@font-face {
  font-family: "NotoSans";
  src:
    local("NotoSans"),
    url(../../../../assets/Fonts/NotoSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Oxanium";
  src:
    local("Oxanium"),
    url(../../../../assets/Fonts/Oxanium-VariableFont.ttf) format("truetype");
}

:root {
  --body-color: #39245b;
  --primary-color: #ffffff;
  --secondary-color: #007aa3;
}

.scoreText {
  font-family: "Oxanium";
  font-weight: bold;
  font-size: 72;
  fill: var(--primary-color);
  text-anchor: middle;
  text-transform: uppercase;
}

.battleOverlayContainer {
  fill: var(--body-color);
}

.battleOverlayPlayerNameBottom {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--primary-color);
  text-anchor: start;
  text-transform: uppercase;
}

.battleOverlayPlayerNameTop {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--primary-color);
  text-anchor: end;
  text-transform: uppercase;
}

.battleOverlayPlayerCountryBottom {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--body-color);
  text-anchor: start;
  text-transform: uppercase;
}

.battleOverlayPlayerCountryTop {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--body-color);
  text-anchor: end;
  text-transform: uppercase;
}


.teamSlotHeader {
  filter: drop-shadow(-10px 8px 4px #000029);
  fill: var(--primary-color);
}

.teamSlotItem {
  fill: var(--primary-color);
  filter: drop-shadow(-4px 10px 4px #000029);
}

.teamSlotAbility {
  fill: var(--secondary-color);
  filter: drop-shadow(-4px 10px 4px #000029);
}

.teamSlotItemBackground {
  fill: white;
}

.teamSlotMove {
  fill: var(--primary-color);
  filter: drop-shadow(-4px 10px 4px #000029);
}

.textPokemonName {
  font-family: "NotoSans";
  font-size: 46;
  fill: rgb(0, 0, 0);
  text-anchor: left;
}

.textPokemonInfo {
  font-family: "NotoSans";
  font-size: 32;
  fill: rgb(0, 0, 0);
  text-anchor: middle;
}

.textPokemonAbility {
  font-family: "NotoSans";
  font-size: 32;
  fill: rgb(255, 255, 255);
  text-anchor: middle;
}

.textPokemonMove {
  font-family: "NotoSans";
  font-size: 32;
  fill: rgb(0, 0, 0);
  text-anchor: left;
}

.battleOverlayPokemonIcon {
  width: 88px;
  height: 88px;
}

.battleOverlayPokemonIconFainted {
  width: 88px;
  height: 88px;
  opacity: 50%;
}

.battleItemIcon {
  width: 48px;
  height: 48px;
}

.typeIcon {
  width: 76px;
  height: 76px;
  position-anchor: middle;
}

.teraTypeIcon {
  width: 124px;
  height: 124px;
  position-anchor: middle;
}

.moveTypeIcon {
  width: 56px;
  height: 56px;
  position-anchor: middle;
}

.teraTab {
  stroke: #999999;
  stroke-width: 4;
}
