@font-face {
  font-family: "NotoSans";
  src:
    local("NotoSans"),
    url(../../../../assets/Fonts/NotoSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Oxanium";
  src:
    local("Oxanium"),
    url(../../../../assets/Fonts/Oxanium-VariableFont.ttf) format("truetype");
}

:root {
  --body-color: #39245b;
  --primary-color: #ffffff;
  --secondary-color: #007aa3;
}

.scoreText {
  font-family: "Oxanium";
  font-weight: bold;
  font-size: 64;
  fill: var(--primary-color);
  text-anchor: middle;
  text-transform: uppercase;
}

.battleOverlayContainerParent {
  transform-box: fill-box;
}

.battleOverlayContainer {
  fill: var(--body-color);
  transform-box: fill-box;
}

.bottomContainer {
  transform-origin: bottom;
}

.topContainer {
  transform-origin: top;
}

.battleOverlayHeader {
  fill: var(--body-color);
  transform-box: fill-box;
}

.bottomHeader {
  transform-origin: left;
}

.topHeader {
  transform-origin: right;
}

.battleOverlayPlayerNameBottom {
  font-family: "NotoSans";
  font-size: 26;
  fill: var(--primary-color);
  text-anchor: start;
  text-transform: uppercase;
}

.battleOverlayPlayerNameTop {
  font-family: "NotoSans";
  font-size: 26;
  fill: var(--primary-color);
  text-anchor: end;
  text-transform: uppercase;
}

.battleOverlayPlayerCountryBottom {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--body-color);
  text-anchor: start;
  text-transform: uppercase;
}

.battleOverlayPlayerCountryTop {
  font-family: "NotoSans";
  font-size: 32;
  fill: var(--body-color);
  text-anchor: end;
  text-transform: uppercase;
}

.active {
  animation: show-pokemon 1s;
}

.hidePokeball {
  animation: hide-pokeball 1s forwards;
}

.fainted {
  animation: pokemon-fainted 1s forwards;
}

.battleOverlayPokemonIcon {
  width: 64px;
  height: 64px;
  transform-origin: center;
  transform-box: fill-box;
}

.battleItemIcon {
  width: 36px;
  height: 36px;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes show-pokemon
{
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes hide-pokeball
{
  0%   { transform: translate(1px, 1px) rotate(0deg); }
  10%  { transform: translate(-1px, -2px) rotate(-1deg); }
  20%  { transform: translate(-3px, 0px) rotate(1deg); }
  30%  { transform: translate(3px, 2px) rotate(0deg); }
  40%  { transform: translate(1px, -1px) rotate(1deg); }
  50%  { transform: translate(-1px, 2px) rotate(-1deg); }
  60%  { transform: translate(0px, 0px) rotate(0deg); opacity: 100%; }
  100% { transform: scale(1.5, 1.5); opacity: 0%; }
}

@keyframes pokemon-fainted
{
  30% { transform: rotate(30deg) scale(0.8, 0.8); opacity: 100%;}
  40% { transform: rotate(30deg) scale(0.8, 0.8); opacity: 100%;}
  100% { transform: rotate(0deg) scale(1, 1); opacity: 50%; }
}