@font-face {
    font-family: 'NotoSans';
    src: local('NotoSans'), url(../assets/Fonts/NotoSans-ExtraBold.ttf) format('truetype');
}

:root {
    --body-color: #840184ff;
    --primary-color: #410038ff;
    --secondary-color: #7e7e7eff;
}

.teamSlotBody {
    fill: var(--body-color);
}

.teamSlotHeader {
    fill: var(--primary-color);
}

.teamSlotItem {
    fill: var(--primary-color);
}

.teamSlotAbility {
    fill: var(--secondary-color);
}

.teamSlotItemBackground {
    fill: white;
}

.teamSlotMove {
    fill: var(--primary-color);
}

.textPokemonName {
    font-family: "NotoSans";
    font-size: 46;
    fill: white;
    text-anchor: left;
}

.textPokemonInfo {
    font-family: "NotoSans";
    font-size: 32;
    fill: white;
    text-anchor: middle;
}

.textPokemonMove {
    font-family: "NotoSans";
    font-size: 32;
    fill: white;
    text-anchor: left;
}


.pokemonIcon {
    border: black 1px;
    width: 250px;
    height: 250px;
}

.itemIcon {
    width: 64px;
    height: 64px;
}

.typeIcon {
    width: 76px;
    height: 76px;
    position-anchor: middle;
}